:root{
    --text-frist: black;
}

.font-p {
    font-size: 25px;
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--text-frist);
}
.container-menu {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}
.container-menu ul{
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    background-color: rgb(235, 12, 12);
    display: flex;
    justify-content : space-between;
}
.container-menu ul li a{
    font-size: 25px;
    justify-content: center;
}
.logo{
    margin-right: auto;
    padding: 1.5rem;
    background-color: rgb(235, 12, 12);
}
.btn a{
    margin-left: auto;
    padding: 1.25rem 2.25rem ;
    border-radius: 1rem;
    margin-right: 1rem;
    background-color: rgb(235, 12, 12);
} 
.menu li {
    display: inline-block;
}